<div class="student-login-form" *ngIf="showLoginForm == 0">
  Username: <input type="text" [(ngModel)]="username"><br><br>
  Email: <input type="text" [(ngModel)]="email"><br><br>
  Password: <input type="number" [(ngModel)]="password"><br><br>
  
  <button (click)="register()">Register</button>
  <button (click)="alreadyLogged()">Already Logged</button>
</div>

<div class="student-login-form" *ngIf="showLoginForm == 2">
  <h2>Student Login</h2>
  <label for="username">Email:</label>
  <input id="username" type="text" [(ngModel)]="email">
  
  <label for="password">Password:</label>
  <input id="password" type="text" [(ngModel)]="password">
  
  <button (click)="login()">Login</button>
</div>

<div *ngIf="navigate == 1">
  <app-teacherdash></app-teacherdash>
</div>

<div *ngIf="navigate == 2">
  <app-student-quize></app-student-quize>
</div>
